.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown__toggle {
	background-color: #eeeeee;
	border: 1px solid #ccc;
	font-size: 1rem;
	padding: .5em 2em .5em 1.5em;
}

.dropdown__toggle::after {
	border: .3em solid;
	border-color: black transparent transparent;
	content: '';
	position: absolute;
	right: 1em;
	top: 1em;
}

.dropdown__drawer {
	background-color: #eeeeee;
	display: none;
	left: 0;
	min-width: 100%;
	position: absolute;
	top: 2.1em;
}

.dropdown.is-open .dropdown__toggle::after {
	border-color: transparent transparent black;
	top: .7em;
}

.dropdown.is-open .dropdown__drawer {
	display: block;
}